* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #031c1a;
    height: 100%;
}

a.routerLink {
    text-decoration: none;
}


body {
    box-shadow: inset 0px 0px 5px grey;
    font-family: 'Montserrat', sans-serif;
    background-color: #fbfbfe;
    width: 60%;
    min-height: 100%;
    padding: 3% 5%;
    margin: 0 auto;
}

header {
    border-bottom: 2px solid lightgrey;
}

a { text-decoration: none; }

form p {
  padding-bottom: 1em;
}

#sitetitle {
    font-size: 400%;
    font-weight: 100;
    color: #031c1a;
}

#sitesubtitle {
    font-size: 150%;
    font-weight: 200;
    color: #031c1a;
    display: inline-block;
}

.raised {
    box-shadow: 1px 1px 2px lightgrey;
}

.raised:hover {
    box-shadow: 1px 1px 2px #60728a;
}

.cardView {
    min-height: 10em;
    text-align: center;
    margin: 0;
}

.cardView h3 {
    font-size: 110%;
    padding-top: 2em;
    font-weight: 200;
}

.cardView .MathJax {
    font-size: 2em !important;
}

.cardView p {
    padding-top: 2em;
    padding-bottom: 2em;
}

form.cardEdit {
    margin: 0;
    padding: 2em;
    font-weight: 200;
}

.cardEdit label {
    font-size: 120%;
    margin: 0;
    padding: 0.5em 0;
    width: 25%;
}

.cardEdit input, form input {
    border-radius: 0;
    border: 1px solid #f0f0f0;
    font-size: 120%;
    font-family: inherit;
    font-weight: inherit;
    padding: 0.5em; 
    width: 100%;
}

.cardEdit input {
    margin: 1em 0;
}

.cardEdit input:focus, form input:focus {
    outline: none;
    border: 1px solid #a3acaa;
}

form input.invalid {
    background-color: #ffaaaa;
}

form label {
    margin: 0;
    padding: 0 0.5em 1em 0;
}

form input {
    width: 100%;
}

form div.errorMessage {
    height: 2em;
    font-size: 80%;
}

form #signupButton {
    background-color: #093d42;
    width: 50%;
    margin: 0 auto;
    display: block;
    color: white;
    box-shadow: 2px 2px 5px lightgrey;
    border: none;
}

form #signupButton:hover, form #signupButton:focus {
    background-color: #106a73;
}

form {
    margin-top: 1em;
    padding-top: 1em;
}

form h3 {
    padding: 1em 0;
}

form div#pwreset{
    font-size: 80%;
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding-top: 0.5em;
}

nav {
    margin: 1em 0;
    padding-bottom: 1em;
    border-bottom: 2px solid lightgrey;
}

nav img {
    padding-right: 5px;
    vertical-align: middle;
}

a.navLink {
    display: inline-block;
    background-color: lightgrey;
    color: white;
    padding: 0.3em 1em;
    background-color: #093d42;
    box-shadow: 2px 2px 2px lightgrey;
    margin: 0 0.5em 0 0;
}

a.navLink:hover, a.navLink:focus {
    background-color: #106a73;
}

nav button {
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
    font-weight: 200;
    margin-top: 0.4em 0.4em 0.4em 0em;
    padding: 0.5em;
    background: inherit;
    border: none;
    width: 25%;
}

.formError {
    padding: 1em 0;
}

.cardsetSelector {
    background-color: #fafafc;
    margin: 20px 0;
    padding: 10px 8px;
}

.cardsetSelector:hover {
}

.cardsetSelectorTitle {
    font-size: 120%;
    color: #478c96;
}

.cardsetSelectorDescription {
    font-size: 90%;
    font-weight: 200;
    padding: 10px;
}

.cardview {
    margin: auto;
}
